.home{
    position: absolute;
    width: 11%;
    height: 7%;
    left: 6%;
    top: 15%;
    background: #F7C02D;
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight:500px;
    font-size: 21px;
    line-height: 31px;   
}
.fa-home{
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 - 34px);
    top: calc(50% - 24px/2);    
}
.All:hover{
    color: hsla(360, 0%, 100%, 1);
}
.Open:hover{
    color: hsla(360, 0%, 100%, 1);
}

.FullFilled:hover{
    color: hsla(360, 0%, 100%, 1);
}
.All{
    position: absolute;
    width: 7%;
    height: 8%;
    left: 72%;
    top: 15%;
    border-radius: 12% 0% 0% 12%;
    background: #6B8BB7;
    border: none;
    transition: all 0.4s;  
}
.Open{
    position: absolute;
    width: 7%;
    height: 8%;
    left: 79%;
    top: 15%;
    background: #6B8BB7;
    border: none;
     
}
.FullFilled{
    position: absolute;
    width: 7%;
    height: 8%;
    left: 86%;
    top: 15%;
    border-radius: 0% 12% 12% 0%;
    background: #6B8BB7;
    border: none;
    transition: all 0.4s;
}
.active{
    color:white;
}
.inactive{
    color: black;
}

.list-heading h4 {
    margin: 9% 0% 0% 6%;
    color: #1F4173;
}
.search {
    display: inline;
    margin-left: 75%;
}
.search input[type="text"] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #6E70769E;

}
.fa-search {
    color: #2d415d;
}
.table {
    margin-top: 1%;
    margin-left: 6%;
    width: 85%;
    border-radius: 20px;
    text-align: center;
}
th,td{
    color: #1F4173;
}

.form-control{
    width:90%;
    margin-left: 8%;
    background: #FBDD8E;
}
#status{
    background: #72D761;
}
.pageColor {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white !important;
    background-color: #1f4173 !important;
    border: 1px solid #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

@media only screen and (max-width: 480px) {
    .home{
        top: 13%;
        width: 25%;
        height: 5%;
        font-weight:200px;
        font-size: 13px;
    }
    .All{
        height: 5%;
        top: 13%;
        width: 8%;
        left: 60%;
        font-weight:200px;
        font-size: 13px;
    }
    .Open{
        height: 5%;
        top: 13%;
        width: 13%;
        left: 67%;
        font-weight:200px;
        font-size: 13px;
    }
    .FullFilled{
        height: 5%;
        top: 13%;
        width: 18%;
        left: 79.5%;
        font-weight:200px;
        font-size: 13px;
    }
    .list-heading{
        margin: 17% 0% 0% 0%;
    }
    .search {
        display: inline;
        margin-left: 68%;
        font-size: small;
    }
    #navsearch{
        width: 25%;
    }
    #hide, #hide1{
        display: none;
    }
    .table{
        font-size: small;
    }
    .form-control{
        height: 100%;
        font-size:small;
    }
}

@media only screen and (max-width: 601px) and (min-width: 480px) {
    .home{
        top: 14%;
        width: 19%;
        height: 6%;
        font-weight:300px;
        font-size: 18px;
    }
    .All{
        height: 6%;
        top: 14%;
        width: 8%;
        left: 67%
    }
    .Open{
        height: 6%;
        top: 14%;
        width: 11%;
        left: 74%;
    }
    .FullFilled{
        height: 6%;
        top: 14%;
        width: 14%;
        left: 84%;
    }
    .list-heading{
        margin: 15% 0% 0% 0%;
    }
    .search {
        display: inline;
        margin-left: 72%;
    }
    #navsearch{
        width: 24%;
    }
    #hide{
        display: none;
    }
    .form-control{
        height: 100%;
        font-size:small;
    }
}

@media only screen and (max-width: 992px) and (min-width: 601px) {
    .home{
        top: 14%;
        width: 17%;
        height: 6%;
        font-weight:300px;
        font-size: 18px;
    }
    .All{
        height: 6%;
        top: 14%;
        width: 8%;
        left: 70%
    }
    .Open{
        height: 6%;
        top: 14%;
        width: 10%;
        left: 77%;
    }
    .FullFilled{
        height: 6%;
        top: 14%;
        width: 12%;;
    }
    .list-heading{
        margin: 15% 0% 0% 0%;
    }
    .search {
        display: inline;
        margin-left: 72%;
    }
    #navsearch{
        width: 25%;
    }
    #hide{
        display: none;
    }
    .form-control{
        height: 100%;
        font-size:small;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .form-control{
        height: 100%;
        font-size:small;
    }
    .table{
        width: 95%;
        margin-left:1%
    }   
}