<app-navbar></app-navbar>

<div id="content">
  <div class="container">

    <!--Home Button-->
    <div class="home-button" routerLink='/admin/home'>
      <i class="fa fa-home"></i>
      <h4>HOME</h4>
    </div>

    <!--Status Button-->
    <div class="category">
      <button type="button" class="All" (click)="All(1,0)" [ngClass]="{'active' : all, 'inactive': !all}">All</button>
      <button type="button" class="Open" (click)="Open(1,0)"
        [ngClass]="{'active' : opened, 'inactive': !opened}">Open</button>
      <button type="button" class="FullFilled" (click)="FulFilled(1,0)"
        [ngClass]="{'active' : fulfilled, 'inactive': !fulfilled}">FulFilled</button>
    </div>

    <div class="container">
      <!--Heading-->
      <div class="list-heading">
        <h4>Order History</h4>
      </div>

      <!--Search-->
      <div class="search">
        <input id="navsearch" type="text" placeholder="Search" ngDefaultControl [(ngModel)]="filter">
        <i class="fa fa-search" id="search"></i>
      </div>

      <!--List of Orders-->
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Employee Name</th>
            <th>Products</th>
            <th id="hide">Points</th>
            <th id="hide">Date of Order</th>
            <th id="hide">Date of Delivery</th>
            <th id="hide1">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of orderList |filter:filter">
            <td style="color: #0C74EF;">{{list.Id}}</td>
            <td>{{list.UserName}}</td>
            <td><button type="button" class="form-control" (click)="open(content,list.Id)">View Products</button></td>
            <td id="hide">{{list.Points}}</td>
            <td id="hide">{{list.DateOfOrder | date: 'dd-MM-yyyy'}}</td>
            <td id="hide" *ngIf="list.DateOfDelivery !== null">{{list.DateOfDelivery | date: 'dd-MM-yyyy'}}</td>
            <td id="hide" *ngIf="list.DateOfDelivery === null">Not Delivered</td>
            <td id="hide1"><button class="form-control"
                [ngStyle]="{'background-color':list.Status === 'Fulfilled' ? '#72D761' : '#D11A2A' }"
                [ngClass]="list.Status === 'Fulfilled' ? 'fulfill' : 'opened'"
                (click)="UpdateStatus(list)">{{list.Status}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Code by pagination -->
<div class="container mw-100">
  <div class="row">
    <div class="col-md-3"> </div>
    <div *ngIf=" TotalOrders!=0" class="col-md-6">
      <ul class="pagination justify-content-center">
        <div *ngIf="all">
          <li *ngFor="let page of pageField;let i=index" class="page-item pull-left " style="margin-right: 5px;">
            <a (click)="showOrdersByPageNumberAll(page,i)" [ngClass]="pageNo[i] ? 'pageColor':'page-link'"
              style=" margin-right: 5px;margin-top: 5px">{{page}}</a>
          </li>
        </div>
        <div *ngIf="opened">
          <li *ngFor="let page of pageField;let i=index" class="page-item pull-left">
            <a (click)="showOrdersByPageNumberOpen(page,i)" [ngClass]="pageNo[i] ? 'pageColor':'page-link'"
              style=" margin-right: 5px;margin-top: 5px">{{page}}</a>
          </li>
        </div>
        <div *ngIf="fulfilled">
          <li *ngFor="let page of pageField;let i=index" class="page-item pull-left">
            <a (click)="showOrdersByPageNumberFulfilled(page,i)" [ngClass]="pageNo[i] ? 'pageColor':'page-link'"
              style=" margin-right: 5px;margin-top: 5px">{{page}}</a>
          </li>
        </div>
      </ul>
      <div style="text-align: center;">
        Page {{pagenumber}} of Total page {{paginationService.exactPageList}}
      </div>
    </div>
  </div>
</div>


<!--PopUp-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table" id="popup">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of adminService.orderDetails">
          <td>{{item.Name}}</td>
          <td>{{item.Quantity}}</td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>
</ng-template>