/* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
 
  #content {
    width: 100%;
    margin:2% 0% 0% 0%;
    transition: all 0.3s;
  }
  .home-button {
    display: inline-flex;
    width: 130px;
    height: 50px;
    margin-left: 13%;
    margin-top: 2%;
    background: #f7c02d;
    border-radius: 5px;
  }
 .home-button:hover {
    cursor: pointer;
 }
 .home-button i {
    font-size: 24px;
    padding-left: 10%;
    padding-top: 10%;
 }
 .home-button h4 {
    padding-left: 10%;
    padding-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2d415d;
 }
 .all-button{
    display: inline-flex;
    margin-left: 47%;
    font-family: Lato;  
    width: 6%;
    height: 50px;
    background: #6B8BB7;
    border-radius: 12% 0% 0% 12%;
    transition: all 0.4s;
 }
 .all-button:hover{
    color: hsla(360, 0%, 100%, 1);
    cursor: pointer;
 }
 .all-button p {
    display: flex;
    padding-left: 32%;
    padding-top: 11%;
    font-family: Lato;
    font-style: normal;
    font-size: 21px;
 }
 .open-button{
    display: inline-flex;
    font-family: Lato;  
    width: 6%;
    height: 50px;
    background: #6B8BB7;
    transition: all 0.4s;
 }
 .open-button:hover{
    color: hsla(360, 0%, 100%, 1);
    cursor: pointer;
 }
 .open-button p {
    display: flex;
    padding-left: 16%;
    padding-top: 11%;
    font-family: Lato;
    font-style: normal;
    font-size: 21px;
 }
 .fulFilled-button{
    display: inline-flex;
    font-family: Lato;  
    width: 6%;
    height: 50px;
    background: #6B8BB7;
    border-radius: 0% 12% 12% 0%;
    transition: all 0.4s;
 }
 .fulFilled-button:hover{
    color: hsla(360, 0%, 100%, 1);
    cursor:pointer;
 }
 .fulFilled-button p {
    display: flex;
    padding-left: 4%;
    padding-top: 11%;
    font-family: Lato;
    font-style: normal;
    font-size: 21px;
 }
 .active{
    color:white;
 }
 .inactive{
    color: #112a4e;
 }
 .order-list {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 3%;
    padding-left: 13%;
    padding-right: 13%;
 }
 .heading h4 {
    height: 41px;
    width: 228px;
    left: 10px;
    top: 9px;
    border-radius: nullpx;
    color: #1f4173;
 }
 .search {
    display: inline;
    margin-left: 80%;
 }
 .search input[type="text"] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
 }
 .fa-search {
    color: #2d415d;
 }
 .btn {
    background: #FBDD8E;
    border-radius: 10px;
    padding: 5%;
    border: none;
    width:90%;
 }
 .btn:hover {
    background: #f7c02d;
    transform: scale(1.1);
 }
 #table {
    text-align: center;
    margin-top: 3%;
 }
 th {
    color: #1f4173;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
 }
 td{
    color: #1F4173;
 }
 #popup{
    text-align: center;
 }
 #status{
    background: #72D761;
 }
 .opened{
    color: #fff;
    background-color: #D11A2A;
 }
 .opened:hover{
    background: #BE090A;
    transform: scale(1.1);
 }
 .fulfill{
    color: black;
    background-color: #72D761;
 }
 .fulfill:hover{
    background: #05BC5A;
    transform: scale(1.1);
 }
 .pageColor {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white !important;
    background-color: #1f4173 !important;
    border: 1px solid #dee2e6;
 }
 .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
 }
  /* ---------------------------------------------------
      MEDIAQUERIES
  ----------------------------------------------------- */
@media only screen and (max-width: 480px) {
    .home-button{
        margin-top: 7%;
        width: 100px;
        height: 30px;
    }
    .home-button i {
        font-size: 20px;
        padding-top: 5%;
    }
    .home-button h4{
        padding-left: 9%;
        font-size: 19px;
    }
    .all-button{
        margin-left: 15%;
        height: 40px;
        width: 10%;
    }
    .all-button p{
        padding-left: 20%;
        padding-top: 5%;
    }
    .open-button{  
        width: 13%;
        height: 40px;
    }
    .open-button p{
        padding-left: 13%;
        line-height: 23px;
    }
    .fulFilled-button{ 
        width: 22%;
        height: 40px;
    }
    .fulFilled-button p{
        padding-left: 10%;
        line-height: 15px;
    }
    .search {
        display: inline;
        margin-left: 60%;
        width: 50%;
    }
    #navsearch{
        width: 30%;
    }
    .opened{
        width: 100%;
    }
    .fulfill{
        width: 110%;
    }
    #hide,#hide1{
        display: none;
    } 
}

@media only screen and (max-width: 701px) and (min-width: 480px) {
    .home-button{
        margin-top: 7%;
        width: 110px;
        height: 35px;
    }
    .home-button i {
        font-size: 21px;
        padding-top: 7%;
    }
    .all-button{
        margin-left: 20%;
        height: 40px;
        width: 8%;
    }
    .all-button p{
        padding-left: 20%;
        padding-top: 5%;
    }
    .open-button{  
        width: 13%;
        height: 40px;
    }
    .open-button p{
        padding-left: 13%;
        line-height: 23px;
    }
    .fulFilled-button{ 
        width: 20%;
        height: 40px;
    }
    .fulFilled-button p{
        padding-left: 10%;
        line-height: 15px;
    }
    .search {
        display: inline;
        margin-left: 65%;
        width: 50%;
    }
    #navsearch{
        width: 30%;
    }
    .opened{
        width: 100%;
    }
    .fulfill{
        width: 110%;
    }
    #hide{
        display: none;
    }
}

@media only screen and (max-width: 992px) and (min-width: 701px) {
    .home-button{
        margin-top: 5%;
        width: 115px;
        height: 40px;
    }
    .home-button i {
        font-size: 22px;
        padding-top: 7%;
    }
    .all-button{
        margin-left: 30%;
        height: 40px;
        width: 7%;
    }
    .all-button p{
        padding-left: 20%;
        padding-top: 5%;
    }
    .open-button{  
        width: 8%;
        height: 40px;
    }
    .open-button p{
        padding-left: 12%;
        line-height: 23px;
    }
    .fulFilled-button{ 
        width: 12%;
        height: 40px;
    }
    .fulFilled-button p{
        padding-left: 10%;
        line-height: 15px;
    }
    .search {
        display: inline;
        margin-left: 65%;
        width: 50%;
    }
    #navsearch{
        width: 30%;
    }
    .opened{
        width: 100%;
    }
    .fulfill{
        width: 110%;
    }
    #hide{
        display: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
    
    .all-button{
        width: 6%;
        margin-left: 42%;
    }
    .all-button p{
        padding-left: 27%;
    }
    .open-button{  
        width: 6%;
    }
    .open-button p{
        padding-left:15%
    }
    .fulFilled-button{ 
        width: 10%;
    }
    .fulFilled-button p{
        line-height: 22px;
    }
    .search {
        display: inline;
        margin-left: 72%;
    }
    .fulfill{
        width: 110%;
    }
}