<div class="container1">
<nav class="navbar navbar-light fixed-top bg-custom">
    <div class="container-fluid">
        <a  (click)="toggleField()" class="bars2"><i class="fa fa-bars" id="bars"></i></a>
        <a class="navbar-brand"><img class="xcart-nav" src="/assets/images/xlogo-nav.png"></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filter" name="filter">
            <i class="fa fa-sign-out fa-lg" id="logout" (click)="logout()"></i>
        </form>
    </div>
</nav>
</div>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [class.active]="classToggled">
        <div class="sidebar-header">
            <h4>{{userName}}</h4>
        </div>
        <ul class="list-unstyled components">
            <li routerLink='/employee/home' routerLinkActive="active">
                <a><i class="fa fa-home fa-lg menu-home"></i>Home</a>
            </li>
            <li routerLink='/employee/order' routerLinkActive="active">
                <a  ><i class="fa fa-shopping-bag fa-lg menu-order"></i>Order</a>
            </li>
            <li routerLink='/employee/profile'  routerLinkActive="active">
                <a ><i class="fa fa-user fa-lg menu-profile"></i>Profile</a>
            </li>
            <li routerLink='/employee/cart' routerLinkActive="active">
                <a ><i class="fa fa-shopping-cart fa-lg menu-cart"></i>Cart</a>
            </li>
        </ul>
    </nav>
</div>