<body>
    <app-navbar></app-navbar>

    <br>
    <div class="home-button" routerLink='/admin/home'>
        <i class="fa fa-home"></i>
        <h4>HOME</h4>
      </div>
      <div class="home-button" id="back" routerLink='/admin/employeeList'>
        <i class="fa fa-backward"></i>
        <h4>Back</h4>
      </div>

    <div class="container">
        <div class="AwardHistory">
            <div class="heading">
                <h4>Award History</h4>
                <h6>Record Of {{this.adminService.EmployeeDetails.Name}}</h6>
            </div>
            <div class="search">
                <input id="navsearch" type="text" ngDefaultControl [(ngModel)]="filter" placeholder="Search">
                <i class="fa fa-search" id="search"></i>
            </div>
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Award ID</th>
                        <th>Award Name</th>
                        <th>Points</th>
                        <th>Awarded date</th>
                        <th>Awarded By</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of sortedAwardHistory | filter:filter  | paginate: {itemsPerPage:7, currentPage: page}">
                        <td> &nbsp; {{emp.AwardId}}</td>
                        <td>{{emp.AwardName}}</td>
                        <td>{{emp.Point}}</td>
                        <td>{{emp.Date | date: 'dd-MM-yyyy'}}</td>
                        <td>{{emp.Presenter}}</td>
                        <td *ngIf="emp.Status" >Awarded</td>
                        <td *ngIf="!emp.Status" style="color: red;">Removed</td>

                    </tr>
                </tbody>
            </table>
            <div class="footer" >
                <!--Pagination should be added here-->
                <pagination-controls (pageChange)="page=($event)"></pagination-controls>
            </div>
        </div>
    </div>
</body>