<app-sidemenu></app-sidemenu>

<!--*ngFor="let item of EmployeeById"
 <img src="{{item.Image}}">
-->
<div class="content">
   <div class="flex-container" *ngFor="let item of EmployeeById">
      <div class="flex-child" id="image">
         <img src="{{item.Image}}">
      </div>
      <div class="flex-child" id="details">
         {{item.Name}}
         <br>
         {{item.Email}}
         <br>

         {{item.Gender}}
         <br>
         {{item.JobTitleName}}
         <br>
         {{item.Contact}}
         <br>
         Points : {{item.CurrentPoints}}
         <br>
         {{item.DepartmentName}}, {{item.LocationName}}
         <br>

      </div>
   </div>
</div>