.content {
  margin-left: 20%;
}

.cart-content {
  margin-top: 10%;
}
.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 23%;
  margin-top: 5%;
  width: 65%;
  height: 75%;
  display: inline-flex;
}
.card-content {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}
.change-button {
  width: 20%;
}

#decrease {
  border: none;
}

#decrease:hover {
  background-color: rgb(104, 99, 99);
  color: white;
}

#increase {
  border: none;
}

#increase:hover {
  background-color: black;
  color: white;
}

#delete {
  border: none;
  margin-left: 5%;
  background-color: red;
  color: white;
  width: 8%;
}

#delete:hover {
  color: white;
}

.user-points {
  position: absolute;
  width: 20%;
  height: 75px;
  margin-left: 70%;
  margin-top: 5%;
  background: #72d761;
  border-radius: 10px;
  text-align: center;
  font-size: 140%;
  font-weight: 500;
  color: white;
}

.image img {
  height: 100%;
  width: 100%;
}

#checkout {
  margin-left: 78%;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 12%;
  height: 50px;
  border: none;
  background-color: #f7c02d;
  font-size: 140%;
  font-weight: 500;
  color: #646363;
  border-radius: 10px;
}

.check:hover {
  background-color: #3e597f;
  color: white;
}

.points {
  margin-left: 70%;
  margin-top: 5%;
  font-size: 140%;
}

.empty-cart {
  margin-top: 20%;
  margin-left: 40%;
  font-size: 20px;
  position: absolute;
  width: 20%;
  height: 75px;
  background: hsla(215, 35%, 27%, 1);
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  color: white;
  padding-top: 20px;
}

#iname {
  margin-left: 5%;
}

#buset {
  margin-left: 5%;
  padding-left: 0%;
}

#poi {
  margin-left: 5%;
}

.inline {
  float: left;
}

/*
--------------------------------------------------------
MEDIA QUERY
--------------------------------------------------------
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .navigation-buttons{
      float: right;
      margin-right: 0;
      margin-left: auto;
  }
}
*/

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .card {
  }

  #decrease {
    margin-left: 1%;
  }

  #delete {
    border: none;
    margin-left: 5%;
    background-color: red;
    color: white;
    width: 8%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 600px) {
  .card {
    margin-top: 15%;
    margin-left: 30%;
  }

  .user-points {
    font-size: 100%;
    margin-top: 10%;
  }
  #iname {
    text-align: center;
    width: 90%;
    margin-top: 1%;
  }

  #img {
    width: 50%;
    height: 50%;
    margin-left: 20%;
  }

  #buset {
    margin-top: 1%;
    width: 90%;
  }

  #poi {
    text-align: center;
    width: 90%;
    margin-top: 1%;
  }

  #delete {
    margin-left: 42%;
    margin-top: 1%;
    width: 15%;
  }

  #checkout {
    margin-bottom: 2%;
    width: 20%;
    font-size: 120%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 480px) {
  .card {
    margin-top: 18%;
  }

  .user-points {
    font-size: 100%;
    margin-top: 10%;
  }

  #img {
    width: 50%;
    height: 50%;
    margin-left: 20%;
  }

  #iname {
    text-align: center;
    width: 75%;
    margin-top: 1%;
  }

  #buset {
    margin-top: 1%;
    width: 75%;
  }

  #poi {
    text-align: center;
    width: 75%;
    margin-top: 1%;
  }

  #delete {
    margin-left: 35%;
    margin-top: 1%;
    width: 20%;
  }

  #checkout {
    margin-bottom: 2%;
    width: 20%;
    font-size: 120%;
  }
}
