<app-sidemenu></app-sidemenu>

<div id="content" style="border: 1px solid black;">
    <div class="user-points">
        <p>Points Remaining
            <br>{{currentPoints}}
        </p>
    </div>
<div class="cart-content">
    <div class="card" *ngFor="let cart of cart">
        <div class="card-content row">
            <div class="image col-lg-1" >
                <img [src]="cart.ItemImage" alt="">
            </div>
            <div class="col-lg-2">
                <h6>{{cart?.ItemName}} </h6>
            </div>
            <div class="col-lg-2 row">
                <div class="col-lg-4 change-button"> <button id="decrease" (click)="onDecrease(cart.CartId)">-</button>
                </div>
                <div class="col-lg-4">
                    <h6>{{cart?.Quantity}}</h6>
                </div>
                <div class="col-lg-4 change-button"><button id="increase" (click)="onIncrease(cart.CartId)">+</button>
                </div>
            </div>
            <div class="col-lg-3"> {{cart.ItemPoints}} Points</div>
            <button id="delete" (click)="deletefromCart(cart.CartId)">X</button>
        </div>

    </div>
    <br>
    <p class="points">Total Points:{{totalPoints}} </p>
    <br>
    <input type="button" id="checkout" class="check" value="Checkout" (click)="onCheckOut()" />


</div>
</div>