<app-sidemenu></app-sidemenu>

<div id="content" >
    <div class="user-points">
        <p>Points Remaining
            <br>{{currentPoints}}
        </p>
    </div>
    <div class="" *ngIf="cartcount!=0 ;then thenTemplate else elseTemplate"></div>
    <ng-template #thenTemplate>
        <div class="cart-content">
            <div class="card" *ngFor="let cart of cart">
                <div class="card-content row" id="crdrow">
                    <div class="image col-lg-2" id="img">
                        <img [src]="cart.ItemImage" alt="">
                    </div>
                    <div class="col-lg-2 item-details" id="iname">
                        <h6>{{cart?.ItemName}} </h6>
                    </div>
                    <div class="col-lg-2 item-details" id="buset">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 inline change-button"> <button id="decrease"
                                (click)="onDecrease(cart.CartId)" [disabled]="cart.Quantity<2">-</button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 inline" id="qtt">
                            <h6>{{cart?.Quantity}}</h6>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 inline change-button"><button id="increase"
                                (click)="onIncrease(cart.CartId)">+</button>
                        </div>
                    </div>
                    <div class="col-lg-2 item-details" id="poi" > {{cart.ItemPoints}} Points</div>
                   <div class="col-lg-2 item-details"><button id="delete" (click)="deletefromCart(cart.CartId)">
                        <i class="fa fa-trash-o fa-lg menu-cart"></i>
                    </button></div> 
                </div>

            </div>
            <br>
            <p class="points">Total Points:{{totalPoints}} </p>
            <input type="button" id="checkout" class="check" value="Checkout" (click)="onCheckOut()" />


        </div>
    </ng-template>
    <ng-template #elseTemplate>
        <div class="empty-cart">
            <div class="center">
                <p>Cart Empty
                </p>
            </div>
        </div>
    </ng-template>
</div>