<div class="container1">
  <nav class="navbar navbar-light fixed-top bg-custom">
      <div class="container-fluid">
          <a class="navbar-brand"><img class="xcart-nav" src="/assets/images/xlogo-nav.png"></a>
          <form class="d-flex">
              <button id="profile" type="button"  (click)="employeeswitch()"><i class="fa fa-user" id="user"></i>Profile
              </button>
              <i class="fa fa-sign-out fa-lg" id="logout" (click)="logout()"></i>
          </form>
      </div>
  </nav>
  </div>

 