<nav class="navbar navbar-light" style="background-color: #395E91;">
    <div class="container logo">
      <img src="/assets/images/logo-home.png" class="xcart-logo" style="height: 45px; width: 145px;">
    </div>
    <div class="form-group">
      <button class="form-control" id="profile" type="button"><i class="fa fa-user" id="user" (click)="switchProfile()"></i>Profile
      </button>
    </div>
    <div class="signout">
      <a (click)="logout()"><i class="fa fa-sign-out fa-lg" id="logout"></i></a>
    </div>
  </nav>