<body>
    <app-navbar></app-navbar>
    <div class="container">
        <h3>Manage Awards</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Award ID</th>
                <th scope="col">Award Name</th>
                <th scope="col">Points</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">422</th>
                <td>Spot Award Winner</td>
                <td>20</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
              <tr>
                <th scope="row">423</th>
                <td>Spot Award Winner</td>
                <td>20</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
              <tr>
                <th scope="row">424</th>
                <td>Spot Award Winner</td>
                <td>20</td>
                <td>Edit</td>
                <td>Delete</td>
              </tr>
            </tbody>
          </table>
    </div>
    
</body>
