body{
    background: #EAECEE;
    font-family: Roboto;
    height: 100vh;
}

.card {
    margin-left: 6%;
    height: 109px;
    background: #ecb626;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    border: none;
    font-size: 24px;
}
.card-deck {
    width: 100%;
}

.card-lower{
    margin-left: 6%;
    height: 109px;
    background: #ecb626;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    border: none;
    font-size: 24px;
}

.fa-arrow-right {
    color: white;
    margin-left: 90%;
    font-size: 24px;
    margin-bottom: 30px;
}

.list-heading h4 {
    height: 41px;
    width: 228px;
    margin: 1em 1em 0em 1em;
    left: 10px;
    top: 9px;
    border-radius: nullpx;
    color: #1f4173;
}
.latest-orders{
    margin-left: 3%;
    margin-top: 5px;
}
.order-list{
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}
.table {
    margin-top: 20px;
    top: 250px;
    border-radius: 20px;
}

.search {
    display: inline;
    margin-left: 70%;
    overflow: hidden;
}
.search input[type="text"] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.fa-search {
    color: #2d415d;
}
#reward-employee{
    font-family: Roboto;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;


background-color:white;
color: #1F4173;

}
#trending-item{
    background-color:white;
    color: black;
}
#empdetail{
    text-align: left; 
    margin-left: 5%;
    font-size: medium;
}
#empdetails{
    text-align: left; 
    margin-left: 5%;
    margin-top: 3%;
    font-size:large;
}

@media only screen and (max-width:480px) {
    .card {
        margin-left: 30%;
        margin-bottom: 5%;
    }
    .card-deck {
        width: 70%;
    }
    .fa-arrow-right {
        margin-left: 90%;
        margin-bottom: 10px;
    }

    .search {
        display: inline;
        margin-left: 40%;
        overflow: hidden;
    }

    .card-lower{
        margin-top: 2%;
    }

}

@media only screen and (max-width: 600px) and (min-width:480px){
    .card {
        margin-left: 50%;
        margin-bottom: 5%;
    }
    .card-deck {
        width: 50%;
    }

    .search {
        display: inline;
        margin-left: 50%;
        overflow: hidden;
    }

    .card-lower{
        margin-top: 2%;
    }
}

@media only screen and (max-width: 992px) and (min-width:600px){
    .card {
        margin-left: 55%;
        margin-bottom: 5%;
    }
    .card-deck {
        width: 40%;
    }

    .order-list{
    margin-left: 10%;
    max-width: 90%;
    }

    .search {
        display: inline;
        margin-left: 50%;
        overflow: hidden;
    }

    .card-lower{
        margin-top: 2%;
        margin-left: 15%;
    }
}

@media only screen and (max-width: 1200px) and (min-width:994px){
    .search {
        display: inline;
        margin-left: 60%;
        overflow: hidden;
    }
}