<body>
  <app-navbar></app-navbar>
  <br>
  <!-- Dashboard Cards -->
  <div class="card-deck row">
    <div class="card  col-lg-3 menu-card"  routerLink='/admin/orderdetails' >
      <div class="card-body text-left">
        <p class="card-text">Pending Orders</p>
      </div>
      <i class="fa fa-arrow-right fa-lg"></i>
    </div>
    <div class="card col-lg-3 menu-card" routerLink='/admin/employeeList'>
      <div class="card-body text-left">
        <p class="card-text">Update Points</p>
      </div>
      <i class="fa fa-arrow-right fa-lg"></i>
    </div>
    <div class="card col-lg-3 menu-card" routerLink='/admin/catalogue'>
      <div class="card-body text-left">
        <p class="card-text">Manage Stock</p>
      </div>
      <i class="fa fa-arrow-right fa-lg"></i>
    </div>
  </div>
  <br>
  <!-- LatestOrders List -->
  <div class="container row latest-orders">
    <div class="col-lg-10 order-list">
      <div class="list-heading">
        <h4>Latest Orders</h4>
      </div>
      <div class="search">
        <input id="navsearch" type="text" ngDefaultControl [(ngModel)]="filter" placeholder="Search">
        <i class="fa fa-search" id="search"></i>
      </div>
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Order No</th>
            <th>Employee Name</th>
            <th>Date of Order</th>
            <th>Date of Delivery</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList |filter:filter">
            <td>{{order.Id}}</td>
            <td>{{order.UserName}}</td>
            <td>{{order.DateOfOrder | date: 'dd-MM-yyyy'}}</td>
            <td *ngIf="order.DateOfDelivery !== null">{{order.DateOfDelivery | date: 'dd-MM-yyyy'}}</td>
            <td *ngIf="order.DateOfDelivery === null">Not Delivered</td>
            <td [ngStyle]="{'color':order.Status === 'Fulfilled' ? '#72D761' : '#D11A2A' }">{{order.Status}}</td>

          </tr>
        </tbody>
      </table>
      <!-- Code by pagination -->

      <div class="container mw-100">
        <div class="row">
          <div class="col-md-3"> </div>
          <div *ngIf=" TotalOrders!=0" class="col-md-6">
            <ul class="pagination justify-content-center">
              <li *ngFor="let page of pageField;let i=index" class="page-item">
                <a (click)="showOrdersByPageNumber(page,i)" [ngClass]="pageNo[i] ? 'pageColor':'page-link'"
                  style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>



    <div class="col-lg-2" id="reward">
      <div class="card" id="trending-item">
        <div class="heading">
          <span><i class="fa fa-line-chart"></i></span>
          <span>
            <h4>Trends</h4>
          </span>
        </div>
        <div class="row trending-item">
          <div class="col-lg-6 col-md-6" *ngFor="let trendingitem of trendingItemList ">
            <div class="card item-card">
              <div class="img-size">
                <img class="item-image" [src]="trendingitem.Image" />
              </div>
              <div class="row">
                <div class="item-details col-lg-12">
                  <h6 class="item-name">{{trendingitem.Name}}</h6>
                  <p class="stock" *ngIf="trendingitem.Quantity">In Stock : {{trendingitem.Quantity}}</p>
                  <p class="stock" *ngIf="!trendingitem.Quantity">Out of Stock</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Most Rewarded Employee Card -->
      <div class="row reward-card">
        <div class="card" id="reward-employee">
          <div id="empdetails">Most Rewarded Employee</div>
          <br>
          <div>
            <p id="empdetail">ID&nbsp;:&nbsp;{{employee?.Id}}&nbsp; &nbsp;{{employee?.Name}}&nbsp; &nbsp; {{employee?.TotalPoints}} Pts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>