<body>
  <app-navbar></app-navbar>
  <br>
  <!-- Dashboard Cards -->
  <div class="card-deck row">
    <div class="card  col-lg-3" (click)="OrderDetails()">
      <div class="card-body text-left">
        <p class="card-text" >Pending Orders</p>
      </div>
      <i class="fa fa-arrow-right fa-lg"></i>
    </div>
    <div class="card col-lg-3" routerLink='/admin/employeeList'>
      <div class="card-body text-left">
        <p class="card-text">Update Points</p>
        <button></button>
      </div>
      <i class="fa fa-arrow-right fa-lg"></i>
    </div>
    <div class="card col-lg-3" routerLink='/admin/catalogue'>
      <div class="card-body text-left">
        <p class="card-text" >Manage Stock</p>
      </div>
      <i class="fa fa-arrow-right fa-lg"></i>
    </div>
  </div>
  <br>
  <!-- LatestOrders List -->
  <div class="container row latest-orders">
    <div class="col-lg-8 order-list">
      <div class="list-heading">
        <h4>Latest Orders</h4>
      </div>
      <div class="search"> 
        <input id="navsearch" type="text" ngDefaultControl [(ngModel)]="filter" placeholder="Search">
        <i class="fa fa-search" id="search"></i>
      </div>
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Order No</th>
            <th>Employee Name</th>
            <th>Date of Order</th>
            <th>Date of Delivery</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of adminService.orderList |filter:filter">
            <td>{{order.Id}}</td>
            <td>{{order.UserName}}</td>
            <td>{{order.DateOfOrder | date: 'dd-MM-yyyy'}}</td>
            <td  *ngIf="order.DateOfDelivery!=NULL">{{order.DateOfDelivery| date: 'dd-MM-yyyy'}}</td>
            <td>{{order.Status}}</td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4" id="reward">
      <div class="card" id="trending-item">
        <div class="heading">
        <span><i class="fa fa-line-chart"></i></span>
        <span><h4>Trends</h4></span>
      </div>
        <div class="row trending-item">
          <div class="col-lg-6" *ngFor="let trendingitem of trendingItemList ">
            <div class="card item-card">
              <div class="img-size">
                <img class="item-image" [src]="trendingitem.Image" />
              </div>
              <div class="row">
                <div class="item-details col-lg-12">
                  <h6 class="item-name">{{trendingitem.Name}}</h6>
                  <p class="stock" *ngIf="trendingitem.Quantity">Stock : {{trendingitem.Quantity}}</p>
                  <p class="stock" *ngIf="!trendingitem.Quantity">Out of Stock</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Most Rewarded Employee Card -->
      <div class="row">
        <div class="card" id="reward-employee">
          <div id="empdetails">Most Rewarded Employee</div>
          <br>
          <div>
            <p id="empdetail">{{employee?.Name}}&nbsp; &nbsp; {{employee?.TotalPoints}} Pts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>