<nav class="navbar navbar-light" style="background-color: #395E91;">
    <!--Search Functionality-->
    <div class="form-group">
        <button class="form-control" id="navsearch" type="text" [(ngModel)]="filter">Search
            <i class="fa fa-search" id="search"></i>
        </button>
    </div>
    <i class="fa fa-sign-out fa-lg" id="logout"></i>
</nav>
<br>

<div class="btn-toolbar text-center well">
    <button class="btn btn-space" id="home" type="button"><i class="fa fa-home"
            id="homeicon"></i>Home</button>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-space" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>