body {
    background: #eaecee;
    font-family: Roboto;
    height: 100vh;
}

.heading{
    display: inline-flex;
    margin-left: 6%;
}
.heading span{
    height: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1f4173;
}
.heading span h4{
    margin-left: 5%;
    margin-bottom: 10%;
}
.card {
    margin-left: 6%;
    background: #ecb626;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    border: none;
    font-size: 24px;
   
}
.card-deck {
    width: 100%;
}
#trending-item{
    padding-bottom: 10%;
    padding-top: 5%; 
}
.item-card {
    width: 156px;
    height: 100%;
    background: #c1c6ce;
    border-radius: 5px;
}
img.item-image {
    width: 100%;
    height: 110%;
    margin: 0;
    padding: 0;
    object-fit: fill;
}
.item-name {
    width: 105px;
    height: 23px;
    margin-left: 5%;
    margin-top: 6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #1f4173;
}
a{
    text-decoration: none;
}
.stock {
    width: 80px;
    height: 30px;
    float: right;
    font-size: 14px;
    background: #f00b0c;
    border-radius: 5px;
    padding-left: 5px;
}
.card-lower {
    margin-left: 6%;
    height: 109px;
    background: #ecb626;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-weight: 400;
    border: none;
    font-size: 24px;
}

.fa-arrow-right {
    color: white;
    margin-left: 90%;
    font-size: 24px;
    margin-bottom: 30px;
}

.list-heading h4 {
    height: 41px;
    width: 228px;
    margin: 1em 1em 0em 1em;
    left: 10px;
    top: 9px;
    border-radius: nullpx;
    color: #1f4173;
}
.latest-orders {
    margin-left: 3%;
    margin-top: 5px;
}
.order-list {
    background-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.table {
    margin-top: 20px;
    top: 250px;
    border-radius: 20px;
}

.search {
    display: inline;
    margin-left: 70%;
    overflow: hidden;
}
.search input[type="text"] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.fa-search {
    color: #2d415d;
}
#reward-employee {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    background-color: white;
    color: #1f4173;
}
#trending-item {
    background-color: white;
    color: black;
}
#empdetail {
    text-align: left;
    margin-left: 5%;
    font-size: medium;
}
#empdetails {
    text-align: left;
    margin-left: 5%;
    margin-top: 3%;
    font-size: large;
}

@media only screen and (max-width: 480px) { 
    .card {
        margin-left: 30%;
        margin-bottom: 5%;
    }
    .card-deck {
        width: 70%;
    }
    .fa-arrow-right {
        margin-left: 90%;
        margin-bottom: 10px;
    }

    .search {
        display: inline;
        margin-left: 30%;
        overflow: hidden;
    }

    .card-lower {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 480px) {
    .card {
        margin-left: 50%;
        margin-bottom: 5%;
    }
    .card-deck {
        width: 50%;
    }

    .search {
        display: inline;
        margin-left: 50%;
        overflow: hidden;
    }

    .card-lower {
        margin-top: 2%;
    }
}

@media only screen and (max-width: 992px) and (min-width: 600px) {
    .card {
        margin-left: 55%;
        margin-bottom: 5%;
    }
    .card-deck {
        width: 40%;
    }

    .order-list {
        margin-left: 10%;
        max-width: 90%;
    }

    .search {
        display: inline;
        margin-left: 50%;
        overflow: hidden;
    }

    .card-lower {
        margin-top: 2%;
        margin-left: 15%;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 994px) {
    .search {
        display: inline;
        margin-left: 60%;
        overflow: hidden;
    }
}
