<body>
  <app-navbar></app-navbar>
  <div id="content">
    <div class="container">
      <div class="home-button" routerLink='/admin/home'>
        <i class="fa fa-home"></i>
        <h4>HOME</h4>
      </div>
      <div class="home-button" id="back" routerLink='/admin/employeeList' >
        <i class="fa fa-backward"></i>
        <h4>Back</h4>
      </div>

      <div class="manage-award">
        <h3>Manage Awards</h3>
        <div class="point-button" routerLink='/admin/award/form'>
          <h4>Add Award +</h4>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Award ID</th>
            <th scope="col">Award Name</th>
            <th scope="col">Points</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let award of adminService.awardList| paginate: {itemsPerPage:7, currentPage: page}">
            <th scope="row">{{award.Id}}</th>
            <td>{{award.Name}}</td>
            <td>{{award.Points}}</td>
            <td><button (click)="editAward(award.Id)" class="btn btn-warning">Edit</button></td>
            <td><button (click)="deleteAward(award.Id)" class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <div class="footer">
        <!--Pagination should be added here-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
      </div>
    </div>
  </div>
</body>