<body>
  <app-navbar></app-navbar>

  <br>
  <button type="button" class="button">
    <p>Home</p>
  </button>


  <div class="container">
    <div class="EmployeeList">
      <div class="heading">
        <h4>Employee List</h4>
      </div>
      <div class="search">
        <input id="navsearch" type="text" ngDefaultControl [(ngModel)]="filter" placeholder="Search">
        <i class="fa fa-search" id="search"></i>
      </div>

      <table class="table" id="table">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Available Points</th>
            <th>Edit Points</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of adminService.employeePointList |filter:filter">
            <td> &nbsp; {{emp.UserId}}</td>
            <td>{{emp.Name}}</td>
            <td>{{emp.CurrentPoints}}</td>
            <td><button class="btn btn-sm " (click)="openAddModal(emp.UserId,1)">+</button> &nbsp;
              <button class="btn btn-sm ">--</button>
            </td>
            <td><button class="btn btn-primary" (click)="awardHistory(emp.UserId)">view history</button></td>
            
            
            <td>          <!-- modal -->
              <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <!-- modal-dialog -->
                <div class="modal-dialog" role="document">
                  <!-- modal-content -->
                  <div class="modal-content">
                    <!-- modal-header -->
                    <div class="modal-header">
                      <button type="button" class="close" aria-label="Close" (click)="openModalDialog()"><span
                          aria-hidden="true">&times;</span></button>
                      <!-- <h4 class="modal-title">Login</h4> -->
                    </div>
    
                    <!-- modal-body -->
                    <div class="modal-body">
                      <form [formGroup]="addForm" (ngSubmit)="addPoint()">
                        <select name="AwardId" formControlName="AwardId">
                          <option> </option>
    
                        </select>
                        <div>
                          <input type="text" class="textbox" name="EmployeeId" placeholder="EmployeeId"
                            formControlName="EmployeeId">
                        </div>
                        <div>
                          <input type="text" class="textbox" name="PresenteeId" placeholder="PresenteeId"
                            formControlName="PresenteeId">
                        </div>
                        <div>
                          <input type="text" class="textbox" name="Point" placeholder="Point" formControlName="Point">
                        </div>
                        <div>
                          <input type="number" class="textbox" name="Status" placeholder="Status" formControlName="Status">
                        </div>
                        <div>
                          <input type="submit" class="btn btn-info btn-lg" value="Add Point" [disabled]="!addForm.valid">
                        </div>
                      </form>
                    </div>
    
                    <!-- modal-footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
                    </div>
                  </div>
                </div>
              </div></td>
          
          
          </tr>

        </tbody>
      </table>

    </div>

  </div>
</body>