.backdrop{
    opacity: 70%;
}
body{
    font-family: Roboto;
}
#content {
    width: 100%;
    margin:2% 0% 0% 0%;
    transition: all 0.3s;
  
  }

.home-button {
    display: inline-flex;
    width: 130px;
    height: 50px;
    margin-left: 13%;
    margin-top: 2%;
    background: #f7c02d;
    border-radius: 5px;
}
.home-button:hover {
    cursor: pointer;
}
.home-button i {
    font-size: 24px;
    padding-left: 10%;
    padding-top: 10%;
}
.home-button h4 {
    padding-left: 10%;
    padding-top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2d415d;
}

.button {
    width: 130px;
    height: 50px;
    background: #f7c02d;
    border-radius: 5px;
    border: none;
    margin-left: 5%;
}

.button p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2d415d;
}

.Manage-awards {
    width: 170px;
    float: right;
    margin-right: 13%;
    font-family: Lato;
    display: inline-flex;
    width: 200px;
    height: 50px;
    margin-top: 2%;
    background: #f7c02d;
    border-radius: 5px;
}
.Manage-awards:hover {
    cursor: pointer;
}

.Manage-awards i {
    font-size: 24px;
    padding-left: 10%;
    padding-top: 7%;
}

.Manage-awards h4 {
    padding-left: 7%;
    padding-top: 4%;
    font-family: Lato;
    font-style: normal;
    font-size: 21px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2d415d;
}

.point-button {
    display: inline-flex;
    width: 14%;
    height: 50px;
    background: #f7c02d;
    border-radius: 5px;
}

.point-button:hover {
    cursor: pointer;
}

.point-button h4 {
    padding-left: 4%;
    padding-top: 4%;
    font-family: Lato;
    font-style: normal;
    font-size: 21px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2d415d;
}
.point-button i{
    margin-top: 6%;
    margin-left: 5%;
    font-size: 24px;
}

#manage {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10%;

    color: #5b4e4e;
}
.Max-points {
    margin-left: 50%;
}
#points {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    margin-left: 5%;

    color: #5b4e4e;
}


.heading h4 {
    height: 41px;
    width: 228px;
    left: 10px;
    top: 9px;
    border-radius: nullpx;
    color: #1f4173;
}
.search {
    display: inline;
    margin-left: 80%;
}
.search input[type="text"] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.fa-search {
    color: #2d415d;
}

.EmployeeList {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 4%;
    padding-left: 13%;
    padding-right: 13%;

}

.btn {
    background: #395e91;
    border-radius: 10px;
    padding: 5%;
    border: none;
    color: white;
}

.btn:hover {
    background: #f7c02d;
    transform: scale(1.1);
}

.modal {
    margin-top: 17%;
}

.select {
    width: 50%;
    margin-left: 23%;
}

.select-award {
    margin-left: 30%;
    margin-bottom: 2%;
    color: white;
}

#confirm {
    margin-left: 50%;
    background: #2e63b1;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.25));
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
}

#cancel {
    background: #c4c4c4;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0.25));
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
}

th {
    color: #1f4173;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

table {
    text-align: center;
    margin-top: 3%;
}

.warning {
    margin-left: 28%;
    margin-top: 2%;
    color: white;
    background: #6b8bb7;
    width: 40%;
    border-radius: 5px;
}

.modal-body {
    background: rgba(57, 94, 145, 0.9);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.form{
    margin-left: 5%;
}

.pageColor {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white !important;
    background-color: #1f4173 !important;
    border: 1px solid #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#point-limit-input{
    width: 60%;
    margin-left: 20%;
}

#Point-limit{
    color: white;
    margin-left: 35%;
}

/*
Media Queries for making the page responsive
*/

@media only screen and (max-width: 480px){
    .search {
        margin-left: 40%;
    }
    .home-button {
        margin-left: 1%;
    }
    .point-button {
        margin-left: 10%;
        width: 30%;
    }
    .point-button h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .Manage-awards {
        width: 20%;
        float: right;
        height: 50px;
    }
    .Manage-awards i {
        display: none;
    }
}

@media only screen and (max-width: 600px) and (min-width: 480px) {
    .search {
        margin-left: 50%;
    }
    .home-button {
        margin-left: 1%;
    }
    .point-button {
        margin-left: 10%;
        width: 20%;
    }
    .point-button h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .Manage-awards {
        width: 25%;
        float: right;
        height: 50px;
    }
}

.pageColor {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white !important;
    background-color: #1f4173 !important;
    border: 1px solid #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
@media only screen and (max-width: 992px) and (min-width: 600px) {
    .search {
        margin-left: 50%;
    }
    .home-button {
        margin-left: 1%;
    }
    .point-button {
        margin-left: 8%;
    }

    .Manage-awards {
        width: 25%;
        float: right;
        height: 50px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 994px) {
    .search {
        margin-left: 70%;
    }

    .point-button {
        margin-left: 20%;
    }

    .Manage-awards {
        float: right;
        height: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .point-button {
        margin-left: 30%;
    }

    .Manage-awards {
        float: right;
        height: 50px;
    }
}
