<nav class="navbar navbar-light" style="background-color: #395E91;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="sidenav">
    <a href="#">Home</a>
    <a href="#">Order</a>
    <a href="#">Profile</a>
    <a href="#">Cart</a>
</div>