<app-sidemenu [(ngModel)]='filter' name="filter" ngDefaultControl></app-sidemenu>

<!-- Page Content  -->
<div id="content">
    <div class="dropdown">
        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown">
            Sort
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="sortPointDescending()">Points:High to Low</a></li>
            <li><a class="dropdown-item" (click)="sortPointAscending()">Points: Low to High</a></li>
            <li><a class="dropdown-item" (click)="sortAvailibilityDescending()">Quantity:High to Low</a></li>
            <li><a class="dropdown-item" (click)="sortAvailibilityAscending()">Quantity:Low to High</a></li>
        </ul>
    </div>
    <div class="user-points">
        <p>Points Remaining
            <br>{{currentPoints}}
        </p>
    </div>
    <div class="container1">
        <div class="item row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of itemList | filter:filter">
                <div class="card" [ngClass]="item.Quantity == '0' ? 'isDisabled' : 'isOn'">
                    <div class="img-size">
                        <img class="item-image" [src]="item.Image" />
                    </div>
                    <div class="row">
                        <div class="item-details col-lg-6">
                            <h6 class="item-name">{{item.Name}}</h6>
                            <p class="item-points">Points: {{item.Points}}</p>

                            <p class="item-availability" *ngIf="item.Quantity">Available:{{item.Quantity}}</p>
                            <p class="item-outofstock" *ngIf="!item.Quantity">Out of Stock</p>
                        </div>
                        <div class="item-buttons col-lg-6">
                            <button class="add-cart" [disabled]="!(item.Quantity)" (click)="addtoCart(item.Id)"><i
                                    class="fa fa-shopping-cart fa-lg menu-cart"></i></button>
                            <button class="buy" [disabled]="!(item.Quantity)" (click)="openAddModal(item.Id,item.Points,item.Quantity)">Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <!-- modal-dialog -->
    <div class="modal-dialog" role="document">
      <!-- modal-content -->
      <div class="modal-content">
  
        <!-- modal-body -->
        <div class="modal-body">
          <form [formGroup]="addForm" (ngSubmit)="addOrder()">
            <div>
                <label>Quantity</label>
              <input type="text" class="textbox" name="Quantity" placeholder="Quantity" formControlName="Quantity"
                class="form-control" >
            </div>

  
            <br>
            <div class="row">
  
              <div class="col-lg-6">
                <input type="submit" class="btn btn-info btn-lg" id="confirm" value="Confirm" [disabled]="!addForm.valid">
              </div>
              <!-- modal-footer -->
              <div class="col-lg-6">
                <button type="button" class="btn btn-info btn-lg" id="cancel" (click)="closeModalDialog()">Cancel</button>
              </div>
            </div>
  
          </form>
        </div>
  
  
      </div>
    </div>
  </div>