<app-sidemenu></app-sidemenu>

<!-- Page Content  -->
<div id="content">
    <div class="dropdown">
        <button type="button"  class="dropdown-toggle" data-bs-toggle="dropdown">
            Sort
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Points:High to Low</a></li>
            <li><a class="dropdown-item" href="#">Points: Low to High</a></li>
            <li><a class="dropdown-item" href="#">Quantity:High to Low</a></li>
            <li><a class="dropdown-item" href="#">Quantity:Low to High</a></li>
        </ul>
    </div>
    <div class="user-points">
        <p>Points Remaining
        <br>{{currentPoints}}</p>
    </div>
    <div class="container1">


    <div class="item row">
        <div class="col-lg-3 col-md-4"  *ngFor="let item of itemList">
            <div class="card" >
                <img class="item-image" src="{{item.Image}}"/>
                <div class="row">
                    <div class="item-details col-lg-6">
                        <h6 class="item-name">{{item.Name}}</h6>
                        <p class="item-points">{{item.Points}}</p>
                        <p class="item-availability">Available</p>
                    </div>
                    <div class="item-buttons col-lg-6">
                        <button class="add-cart"><i class="fa fa-shopping-cart fa-lg menu-cart"></i></button>
                        <button class="buy">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>