
#navsearch {
    position: relative;
    width: 250%;
    left: 1050%;
    top: 10%;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: left;
  }

  #search{
      margin-left: 60%;
  }

  #logout{
      margin-right: 2%;
      color: white;
  }

  #home{
      position: relative;
      width: 10%;
      left: 5%;
      background: #F7C02D;
      border-radius: 5px;
      text-align: center;
  }
  #homeicon{
      padding-right:8%;
  }

  .btn-space {
    margin-right: 30%;
    width: 300%;
    background: #4E71A2;
    border-radius: 20px;
}

#add{
    position: absolute;
      width: 15%;
      left: 80%;
      background: #72D761;
      border-radius: 20px;
      text-align: center;
      color: white;
}
#addicon{
    padding-left:25%;
}


  