
.bgimage{
    background-image: url('/assets/images/loginbg.jpg');
    background-repeat: no-repeat;
    background-size: 93% 78%;
    position: absolute;
    width: 90%;
    height: 130%;

}

.container{
    position: absolute;
    width: 33%;
    height: 70%;
    left: 73%;
    top: 3%;
    background: #3E597F;
    border: 6px solid #757575;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

h3{
    position: absolute;
    left: 35%;
    top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 250%;
    line-height: 50%;
    color: #FFFFFF;
}
hr{
    position: absolute;
    width: 27.5%;   
    left: 35%;
    top: 10%;
    border: 2px solid #FFFFFF;
}

.credentials1{
    position: absolute;
    left: 12%;
    top: 20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 130%;
    color: #FFFFFF;
}
.credentials2{
    position: absolute;
    left: 12%;
    top: 40%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    line-height: 130%;
    color: #FFFFFF;
}
.form-control{
    width: 150%;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.button1{
    position: absolute;
    width: 63%;
    height: 8%;
    left: 18%;
    top: 58%;
    background: #F7C02D;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 30px;
}
.sign{
    position: absolute;
    left: 37%;
    top: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 130%;
    line-height: 100%;
    color: #484848;
}
.option{
    position: absolute;
    left: 31%;
    top: 73%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    line-height: 100%;
    color: #FFFFFF;
}
.button2{
    position: absolute;
    width: 33%;
    height: 7%;
    left: 34%;
    top: 83%;
    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 10px;
}
.microsoft{
    position: absolute;
    width: 50%;
    height: 20%;
    left: 13%;
    top: 33%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 100%;
    color: #000000;
}
.win-logo{
    width: 20%;
    height: 65%;
    margin-left: 70%;
}