

.bgimage{
    background-image: url('/assets/images/loginbg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;

}

.container{
    position: absolute;
    width: 30%;
    height: 95%;
    left: 65%;
    top: 3%;
    background: #3E597F;
    border: 6px solid #757575;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

h3{
    position: absolute;
    left: 37%;
    top: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 210%;
    line-height: 50%;
    color: #FFFFFF;
}
hr{
    position: absolute;
    width: 27%;   
    left: 37%;
    top: 10%;
    border: 2px solid #FFFFFF;
}

.credentials1{
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 130%;
    line-height: 130%;
    color: #FFFFFF;
}
.credentials2{
    position: absolute;
    left: 10%;
    top: 38%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 130%;
    line-height: 130%;
    color: #FFFFFF;
}
.form-control{
    width: 140%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
.button1{
    position: absolute;
    width: 63%;
    height: 7%;
    left: 17%;
    top: 57%;
    background: #F7C02D;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 30px;
}
.sign{
    position: absolute;
    left: 36%;
    top: 25%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 120%;
    line-height: 100%;
    color: #484848;
}
.option{
    position: absolute;
    left: 31%;
    top: 70%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 105%;
    line-height: 100%;
    color: #FFFFFF;
}
.button2{
    position: absolute;
    width: 33%;
    height: 7%;
    left: 33%;
    top: 79%;
    background: #FFFFFF;
    border: 1px solid #484848;
    box-sizing: border-box;
    border-radius: 10px;
}
.microsoft{
    position: absolute;
    width: 50%;
    height: 20%;
    left: 13%;
    top: 33%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 100%;
    color: #000000;
}
.win-logo{
    width: 20%;
    height: 65%;
    margin-left: 70%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        position: absolute;
        width: 80%;
        height: 90%;
        left: 5%;
        top: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}
