<div class="bgimage">
    <img src="/assets/images/xlogo.png" class="xcart-logo">
    <!--reactive form-->
    <div class="container">
        <h3>LOGIN</h3>
        <hr>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!--Username-->
            <div class="credentials1">
                <label>User Name </label>
                <input type="text" class="form-control" placeholder="Type Username" formControlName="UserName" autocomplete="off" required>
            </div>
            <br><br>
            <div *ngIf="isSubmitted && formControls.UserName.errors" class="credentials1">
                <div *ngIf="formControls.UserName.errors.required" style="color: red;text-align: left;">
                    Username is required
                </div>
            </div>
            <!--Password-->
            <div class="credentials2">
                <label>Password </label>
                <input type="password" class="form-control" placeholder=" Type Password" formControlName="Password" autocomplete="off" required>
            </div>
            <div *ngIf="isSubmitted && formControls.Password.errors">
                <div *ngIf="formControls.Password.errors.required" style="color: red;text-align: left;">
                    Password is required
                </div>
            </div>

            <!--Login Button-->
            <br>
            <div>
                <button class="button1">
                    <span class="sign">Sign In</span>
                </button>
            </div>

            <div *ngIf="error" style="color: red;text-align: left;">{{error}}</div>

            <!-- Microsoft Login -->
            <div class="option">
                <p>Or Continue using</p>
            </div>

            <div>
                <button class="button2">
                    <span class="microsoft">Microsoft</span>
                    <img src="/assets/images/microsoft.png" class="win-logo">
                </button>
            </div>
        </form>
    </div>
</div>